[server]
# username for running the daemon
username = 
# hostname. set it to a FQDN in order to be reached from outside
host = localhost
# ports
electrum_rpc_port = 8000
stratum_tcp_port = 50001
#stratum_tcp_ssl_port = 50002
#report_host = 
#report_stratum_tcp_port = 50001
#report_stratum_tcp_ssl_port = 50002
password = secret
banner = Welcome to Vialectrum!
banner_file = /etc/vialectrum.banner
#irc = no
#irc_nick = <yournickname>
#ssl_certfile = /path/to/vialectrum-server.crt
#ssl_keyfile = /path/to/vialectrum-server.key
logfile = /var/log/vialectrum.log
donation_address = 

[leveldb]
# path to your database
path = 
# for each address, history will be pruned if it is longer than this limit
pruning_limit = 100

[viacoind]
viacoind_host = localhost
viacoind_port = 5222
# user and password from bitcoin.conf
viacoind_user = 
viacoind_password = 
